{% extends 'shared/base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col">
    <h1 class="mt-5 display-4">Bem vindo(a) ao Precifica Aí!</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="lead">
      Para começar, basta clicar no botão de criar nova precificação! Você pode cadastrar quantas receitas quiser.
    </p>
    <a name="nova-precificacao-btn" id="nova-precificacao-btn" class="btn btn-success"
      href="{% url 'cadastro_receita' %}" role="button">Criar nova precificação</a>
  </div>
</div>
<!-- Seção com os Cards das precificações já realizadas. -->
<div class="row mt-3">
  {% if cards %}
    {% for receita in cards %}
      <div class="col-md-4"> <!-- Defina o tamanho das colunas conforme necessário -->
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ receita.nome }}</h5>
            <p class="card-text">{{ receita.descricao }}</p>
            <a href="{% url 'listar_ingredientes_da_receita' receita.id %}" class="card-link">Página de ingredientes</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="col">
      <p>Você ainda não cadastrou nenhuma receita. Clique no botão acima e elas aparecerão aqui.</p>
    </div>
  {% endif %}
</div>

{% endblock %}