{% extends 'shared/base.html' %} {% load static %} {% block content %}
<h1 class="mt-5">Cadastro de Mão de Obra</h1>
<p>
  O cadastro de mão de obra é uma etapa importante para a precificação das suas receitas.
  Aqui você pode registrar os custos associados à mão de obra necessária para preparar suas receitas,
  o que ajudará a calcular o preço final dos seus pratos de forma precisa.
</p>

<!-- Seu formulário de cadastro de mão de obra pode ser colocado aqui -->

<a href="{% url 'index' %}" class="btn btn-secondary">Voltar para a página inicial</a>

{% endblock %}